
POO_Pr_00/
*.o
*.d
*.inc
*.exe
*.mk
*.stackdump
*.bash
POO_Pr_5/nbproject/private/c_standard_headers_indexer.c
POO_pr_6/nbproject/private/c_standard_headers_indexer.c
POO_pr_6/nbproject/private/cpp_standard_headers_indexer.cpp
POO_pr_6/nbproject/private/launcher.properties
POO_pr_6/nbproject/project.xml
POO_pr_6/nbproject/private/private.xml
POO_pr_6/nbproject/private/configurations.xml
POO_pr_6/nbproject/configurations.xml
POO_pr_6/Makefile
*.zip
MoviPOOv1/.DS_Store
*.pdf
MoviPOOv1/nbproject/private/c_standard_headers_indexer.c
MoviPOOv1/nbproject/.DS_Store
MoviPOOv1/Makefile
*.properties
MoviPOOv1/nbproject/private/cpp_standard_headers_indexer.cpp
*.xml
